extends /layouts/_layout

block content
  h1 Sign Up
  
  form(action='/signup', method='post')
    label Email
    input(type='text', name='email')
    label Password
    input(type='password', name='password')
    button(type='submit') Signup
